# For parameter descriptions, please refer to the template parameter files for each node.

ekf_filter_node_local:
  ros__parameters:
    frequency: 30.0
    sensor_timeout: 0.1
    two_d_mode: true  # false(default)
    transform_time_offset: 0.0  # 0.0
    transform_timeout: 0.0  # 0.0
    print_diagnostics: true
    debug: false

    map_frame: map
    odom_frame: odom
    base_link_frame: base_link
    world_frame: odom

    # whill odometry
    odom0: whill/odometry
    odom0_config: [true, true, false,
                  false, false, false,
                  true, false, false,
                  false, false, true,
                  false, false, false]
    odom0_queue_size: 20  # 10
    odom0_differential: true  # false
    odom0_relative: true  # false

    # adis16465
    imu0: adis/imu/data
    imu0_config: [false, false, false,
                  false, false, true,
                  false, false, false,
                  false, false, true,
                  false,  false, false]
    imu0_differential: true  # false
    imu0_relative: false  # false
    imu0_queue_size: 20  # 10
    imu0_remove_gravitational_acceleration: true

    # wt901
    imu1: witmotion/imu/data
    imu1_config: [false, false, false,
                  false, false, true,
                  false, false, false,
                  false, false, true,
                  false, false, false]
    imu1_differential: true  # false
    imu1_relative: false  # false
    imu1_queue_size: 20  # 10
    imu1_remove_gravitational_acceleration: true

    use_control: false

    process_noise_covariance: [1e-3, 1e-3, 1e-3, 0.3, 0.3, 0.01, 0.5, 0.5, 0.1, 0.3, 0.3, 0.3, 0.3, 0.3, 0.3]

    initial_estimate_covariance: [1e-9, 1e-9, 1e-9, 1.0, 1.0, 1e-9, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]

ekf_filter_node_global:
  ros__parameters:
    frequency: 30.0
    sensor_timeout: 0.1
    two_d_mode: true
    transform_time_offset: 0.5
    transform_timeout: 0.5
    print_diagnostics: true
    debug: false

    map_frame: map
    odom_frame: odom
    base_link_frame: base_link
    world_frame: map

    # whill odometry
    odom0: whill/odometry
    odom0_config: [true, true, false,
                  false, false, false,
                  true, false, false,
                  false, false, true,
                  false, false, false]
    odom0_queue_size: 20  # 10
    odom0_differential: true  # false
    odom0_relative: true  # false

    # navsat_transform output
    odom1: odometry/gps
    odom1_config: [true, true, false,
                  false, false, false,
                  false, false, false,
                  false, false, false,
                  false, false, false]
    odom1_queue_size: 20  # 10
    odom1_differential: false
    odom1_relative: false

    # adis16465
    imu0: adis/imu/data
    imu0_config: [false, false, false,
                  false, false, true,
                  false, false, false,
                  false, false, true,
                  false, false, false]
    imu0_differential: true  # false
    imu0_relative: false  # false
    imu0_queue_size: 20  # 10
    imu0_remove_gravitational_acceleration: true

    # wt901
    imu1: witmotion/imu/data
    imu1_config: [false, false, false,
                  false, false, true,
                  false, false, false,
                  false, false, true,
                  false, false, false]
    imu1_differential: true  # false
    imu1_relative: false  # false
    imu1_queue_size: 20  # 10
    imu1_remove_gravitational_acceleration: true

    use_control: false

    process_noise_covariance: [1.0, 1.0, 1e-3, 0.3, 0.3, 0.01, 0.5, 0.5, 0.1, 0.3, 0.3, 0.3, 0.3, 0.3, 0.3]

    initial_estimate_covariance: [1.0, 1.0, 1e-9, 1.0, 1.0, 1e-9, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]

navsat_transform:
  ros__parameters:
    frequency: 30.0
    delay: 3.0
    magnetic_declination_radians: 0.231256122  # For lat/long 34.7744444, 135.5112547
    yaw_offset: 3.14159265  # when IMU reads 0.0 for yaw, it should be facing north, according to REP105
    zero_altitude: false
    broadcast_utm_transform: true
    publish_filtered_gps: true
    use_odometry_yaw: false  # false
    wait_for_datum: false
    datum: [34.7744444, 135.5112547, 0.0]  # when "wait_for_datum" is true, set datum with "datum" like [latitude, longitude, yaw]

