#
#  Initial Speed Profile
#
whill/ros2_whill:
  ros__parameters:
    serialport: "/dev/ttyUSB0"
    wheel_radius: 0.135
    send_interval: 20
    enable_cmd_vel_control: false
    base_frame_id: "base_link"
    odom_frame_id: "whill_odom"
